body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: lightgrey;
  width: 100vw;
  height: 70px;
}

#book-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  margin: 200px;
  gap: 30px;
}

.delete-button::after {
  content: "Delete";
}

.delete-button {
  height: 25px;
}

#create-book {
  font-size: 2rem;
  height: 50px;

}

dialog {
  height: 300px;
  width: 400px;
  border: 2px black solid;
  border-radius: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
